<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.service.mapper.SysOperLogMapper">

    <!-- 删除指定时间之前的操作日志 -->
    <delete id="deleteByOperTimeBefore">
        DELETE FROM sys_oper_log WHERE oper_time < #{operTime}
    </delete>

</mapper>
